{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block style %}
<style type="text/css">
  #div_id_email > label {
    display: none;
  }
</style>
{% endblock style %}

{% block content %}

  <div class="container py-5">
    <div class="row justify-content-center">
      <div class="col-md-5 col-lg-4 border p-3 mx-2 rounded">
        <form method="POST">
          {% csrf_token %}
          <a href="{% url 'home' %}"><h1 class="text-primary"><strong>Babillard</strong> </h1></a>
          <hr>
          <p class="lead">Entrer l'email lié à votre compte</p>
          {{ form|crispy }}
          <button class="btn btn-primary btn-block py-2 my-3">Envoyer</button>
        </form> 
      </div>
    </div>
  </div>

{% endblock content %}